@use '@globals' as *;

.component-content {
    @include respond-to(mobile-large) {
        .row {
            margin: 0;
            padding: 0;

            > * {
                margin: 0;
                padding: 0;
            }
        }
    }
}

@include respond-to(mobile-large) {
    .row {
        margin: 0;
        padding: 0;

        > * {
            margin: 0;
            padding: 0;
        }
    }
}

.is-empty-hint {
    @include default-link-button;
    border-style: dashed;
    color: $text-basic;
    font-style: italic;
}
