@use '@globals' as *;

.container-wrapper {
    width: 100%;
}

.component {
    position: relative;
    padding: 0 $component-gutter;

    @include respond-to(all-mobile) {
        padding: 0;
    }

    .component-content {
        @include clearfix;
    }
}

.component.container-default {
    padding: 0;
}

.container {
    padding: 0;

    &.fullwidth-container {
        max-width: none;
    }

    .component-content {
        @include clearfix;
    }
}
