@use '@globals' as *;
@import '~font-awesome/scss/variables';
@import '~font-awesome/scss/mixins';

$hamburger-width: 28px;
$hamburger-height: 18px;
$hamburger-border: 6px;
$hamburger-margin: 18px;
$dropdown-border: 2px;

.menu-mobile-navigate {
    display: none;
}

.navigation {
    background: $nav-bg;

    ul {
        padding-left: 0;
        margin: 0;
    }

    .menu-mobile-navigate-wrapper {
        width: 100%;
    }

    .level0,
    .level1 {
        > .navigation-title > a {
            font-size: $navigation-font-basic;
            border-color: $nav-border-root;
            border-style: solid;
            border-width: 0 0 2px 0;
            padding-right: 10px;
            margin-right: 5px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    a {
        color: $nav-color-root;

        &:focus,
        &:hover {
            color: $nav-color-root-active;
        }
    }

    li {
        &.submenu {
            margin-bottom: 0;
        }

        > .navigation-title > a {
            padding: 3px 5px 3px 0;
            display: block;
            color: $nav-color-root;
        }

        > ul a {
            font-size: $navigation-font-basic-submenu;
        }
    }

    .submenu > ul {
        padding-left: 10px;
    }
}

.navigation.navigation-main {
    .component-content > nav {
        position: relative;

        ul {
            @include clearfix;
        }
    }

    .rel-level1 {
        float: left;

        &.active > .navigation-title > a {
            border-color: $nav-border-root;
        }

        > .navigation-title > a {
            border-width: 2px 0 0 0;
            border-color: transparent;

            &:hover {
                border-color: $nav-border-root;
            }
        }

            &.submenu > .navigation-title a {
                position: relative;
                padding-right: 15px;

                &::after {
                    @include fa-icon();
                    font-size: 10px;
                    content: $fa-var-chevron-down;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                right: 0;
            }
        }

        > ul {
            overflow: hidden;
            display: none;
            z-index: 10;
            position: absolute;
            top: 100%;
            background: $nav-bg-submenu;
            margin-left: 0;
            margin-top: -$dropdown-border;
            border-top: $dropdown-border solid $nav-border-submenu;
            border-left: 1px solid $nav-submenu-item-border;
            border-bottom: 1px solid $nav-submenu-item-border;
        }

        &:hover,
        &:focus-within {
            > ul {
                display: block !important;
                min-width: 60px;
            }
        }

        &.active {
            > .navigation-title > a {
                color: $text-basic-active;
            }
        }
    }

    .rel-level2 {
        &:hover,
        &:focus-within {
            transition: background 0.2s ease-in;
            background: $nav-bg-submenu-active;
        }

        .navigation-title > a {
            display: block;
            font-weight: normal;
            font-size: $navigation-font-basic-submenu;
            text-align: center;

            &:hover,
            &:focus {
                color: $nav-color-submenu;
            }
        }
    }

    &.navigation-main-horizontal {
        .submenu > ul {
            padding-left: 0;
        }

        .rel-level1 {
            &:hover,
            &:focus-within {
                > ul {
                    display: inline-flex !important;
                    flex-wrap: wrap;
                }
            }

            > ul {
                width: 100%;
                clear: both;
                left: 0;
            }
        }

        .rel-level2 {
            float: left;
            padding: 10px;
            @include border-basic(right, $nav-submenu-item-border, 1px);
            flex-grow: 1;
            flex-basis: 23%;
        }
    }

    &.navigation-main-vertical {
        .rel-level1 > ul {
            padding-left: 0;
            width: auto;
            left: auto;
            @include border-basic(right, $nav-submenu-item-border, 1px);

            > li {
                padding: 5px 10px;
            }
        }

        .submenu ul li a::before {
            @include fa-icon();
            content: $fa-var-chevron-right;
            position: absolute;
            left: 0;
            font-size: 10px;
            top: 18px;
            transform: translateY(-50%);
            padding-left: 7px;
        }
    }
}

.navigation.navigation-mobile {
    nav > ul {
        border: none;
        @include border-basic();
    }

    .rel-level1 {
        cursor: pointer;
        margin: 0;
        background: $bg-basic-color;

        > .navigation-title {
            border-bottom: 1px solid $border-basic-color;
            margin: 0;

            &:last-child {
                border-bottom: none;
            }
        }

        .navigation-title {
            padding: 10px;

            > a {
                text-decoration: none;
                color: $text-basic;
                display: inline;
            }
        }
    }

    .rel-level2 {
        display: list-item;

        .navigation-title > a {
            font-weight: 500;
        }
    }

    .submenu {
        > ul {
            padding-left: 25px;
            background: $nav-bg-submenu;
            display: none;

            li {
                position: relative;

                a::before {
                    @include fa-icon();
                    content: $fa-var-chevron-right;
                    position: absolute;
                    left: 0;
                    font-size: 10px;
                    top: 20px;
                    transform: translateY(-50%);
                }
            }
        }

        &.active {
            > .navigation-title::before {
                transform: rotate(180deg);
                transition: 0.6s;
                transform-style: preserve-3d;
            }

            > ul {
                display: block;
            }
        }

        > .navigation-title {
            position: relative;

            &::before {
                @include fa-icon();
                content: $fa-var-chevron-down;
                position: absolute;
                right: 10px;
                font-size: 10px;
                top: 20px;
                transform: translateY(-50%);
                transition: 0.6s;
                transform-style: preserve-3d;
            }
        }
    }
}

.navigation.navigation-sidebar {
    a {
        text-decoration: none;
    }

    nav > ul {
        .rel-level1 {
            > .navigation-title {
                margin-bottom: 0;

                > a {
                    padding: 5px 10px;
                    display: block;
                    position: relative;
                    z-index: 1;
                    margin-right: 0;
                }
            }

            > ul {
                margin-left: $small-margin;
                margin-top: $extrasmall-margin;
            }
        }

        .rel-level2 {
            display: block;
        }
    }
}

.navigation.sitemap-navigation {
    .level2 a {
        position: relative;
        padding-left: 10px;

        &::before {
            @include font-size(1.4);
            @include fa-icon();
            transform: translateY(-50%) scale(1, -1);
            position: absolute;
            content: $fa-var-share;
            top: 50%;
            left: -8px;
        }
    }
}

.navigation.navigation-fat {
    background: $bg-basic-color;
    @include border-basic();

    a {
        text-decoration: none;
    }

    nav > ul {
        list-style: none;
        padding: 10px 0;
        overflow: hidden;
    }

    .rel-level1 {
        margin: $small-margin;
        padding: 0;
        display: inline-block;
        vertical-align: top;

        &.submenu ul a {
            position: relative;

            &::before {
                @include fa-icon();
                transform: translateY(-50%);
                position: absolute;
                content: $fa-var-chevron-right;
                top: 50%;
                left: -9px;
                font-size: 10px;
            }
        }

        > .navigation-title > a {
            @include border-basic(top, $border-basic-color, 2px);
            border-bottom: 0;
            background: $nav-bg-root;
            padding: 5px 10px;
            display: block;
            width: auto;

            &:hover {
                border-color: $menu-hover-color;
            }
        }

        > ul {
            padding: 0;
        }
    }

    .rel-level2 {
        padding-left: $small-margin;
        display: block;
    }
}

.navigation.navigation-horizontal {
    width: 100%;
    padding-right: 70px;
    margin-top: -15px;

    .menu-mobile-navigate {
        display: none;
    }

    .component-content {
        display: inline-block;

        ul.clearfix {
            list-style: none;
        }

        .level0 {
            display: flex;
        }

        .level0,
        .level1 {
            float: left;
            margin-left: 30px;

            > .navigation-title > a {
                border-width: 0;
                font-size: $text-size-14;
                font-weight: 400;
            }
        }
    }

    @include respond-to(mobile-large) {
        padding-right: 0;

        .component-content {
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $bg-black-active;
            z-index: 1;

            * {
                text-align: center !important;
            }

            nav {
                padding-top: 110px;

                .level0 {
                    display: block;
                }
            }

            ul {
                margin: 0;
                padding: 0;
            }

            .level0,
            .level1 {
                float: none;
                margin-left: 0;

                > .navigation-title > a {
                    font-size: $text-size-30;
                    line-height: 90px;

                    > span {
                        color: $text-white;
                    }
                }
            }
        }

        .menu-mobile-navigate-wrapper {
            .menu-mobile-navigate {
                display: inline-block;
                z-index: 2;
                position: absolute;
                right: $hamburger-margin;
                top: $hamburger-margin;
                height: $hamburger-width;
                width: $hamburger-width;
                opacity: 0;

                &:checked ~ .menu-humburger::before {
                    content: '\00d7';
                    color: $text-basic-active;
                    font-size: $text-size-48;
                    position: fixed;
                    top: 0;
                    right: 0;
                    margin-top: calc(#{$hamburger-margin} + (#{$hamburger-margin} / 2));
                    margin-right: $hamburger-margin;
                    line-height: 0;
                    border: 0;
                }

                &:checked ~ .component-content {
                    position: fixed;
                    display: inline-block;
                }
            }

            .menu-humburger::before {
                content: '';
                width: $hamburger-width;
                height: $hamburger-height;
                margin-right: $hamburger-margin;
                margin-top: calc(#{$hamburger-margin} + (#{$hamburger-margin} / 2) + 8px);
                display: block;
                border-top: $hamburger-border solid $bg-black;
                border-bottom: $hamburger-border solid $bg-black;
                float: right;
                z-index: 99;
                cursor: pointer;
            }
        }
    }
}
